body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .producto {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(214, 214, 214, 0.1);
  }
  
  .producto img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .producto h2 {
    margin-top: 0;
  }
  
  .producto ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .producto li {
    margin-bottom: 10px;
  }
  
  .btn-comprar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-comprar:hover {
    background-color: #555;
  }
  
  footer {
    background-color: rgb(206, 206, 206);
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
  }
    
select {
    margin-left: 10px;
    padding: 5px;
    background-color: #f8f8f8;
  }

  /*ESTILO GENERAL*/
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #5c5c5c;
}
/*MENU PRINCIPAL*/
.menu{
  background-color: rgb(61, 61, 61);
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  
}


.menu li{
  position: relative;
}
.menu > li{
  padding: 15px 20px;
}
.menu a {
  color: white;
  text-decoration: none;
  display: block;
}
.menu > li:hover{
  background-color: #333;
}
/*SUBMENU*/
.submenu{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(235, 180, 28);
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 150px;
}
.submenu li{
  padding: 10px;
}
.submenu a {
  color: white;

}
/*MOSTRAR SUBMENU AL PASAR EL MOUESE*/
.menu li:hover .submenu{
  display: block;
}
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }

  nav ul li {
    display: inline;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
  }

  nav ul li a:hover {
    text-decoration: underline;
  }
.logo-container {
    text-align: center;
    padding: 10px 0;
    background-color: #ffffff;
  }

  .logo-container img {
      width: 300px;
    height: auto;
    text-align: center;
    /* ajusta tamaño si necesitas */
  }
  
